/media/enterprise
/media/import
/media/tmp
/media/wrapping
/media/wysiwyg
/media/captcha
/media/catalog
/media/custom_options
/media/email
/media/downloadable/tmp
/media/downloadable/files
/media/xmlconnect/themes
/app/etc/local.xml
